<!doctype html>
<html lang="de" layout:decorator="layout/validationHeader">
<head>
<title>Dashboard</title>
</head>

<body onload="initialize()">
	<div class="content" layout:fragment="content">
		<div class="container-fluid">

			<div class="header text-center">
				<h3 class="title">Willkommen!</h3>
				<h4 class="category">Diese Seite wurde extra für Sie
					angefertigt!</h4>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="card">
						<div class="card-header card-header-icon"
							data-background-color="devkGreen">
							<i class="material-icons">explore</i>
						</div>
						<div class="card-content">
							<h4 class="card-title">Drohnen</h4>
							<div class="toolbar">
								<!--        Here you can write extra buttons/actions for the toolbar              -->
							</div>
							<div class="material-datatables">
								<table id="datatables"
									class="table table-striped table-no-bordered table-hover"
									cellspacing="0" width="100%" style="width: 100%">
									<thead>
										<tr>
											<th>ID</th>
											<th>Lieferort</th>
											<th>Gewicht</th>
											<th class="disabled-sorting text-right"></th>
										</tr>
									</thead>
									<tfoot>
										<tr>
											<th>ID</th>
											<th>Lieferort</th>
											<th>Gewicht</th>
											<th class="text-right"></th>
										</tr>
									</tfoot>
									<tbody>
										<tr th:each="devices : ${list}">
											<td th:text="${devices.id}"></td>
											<td th:text="${devices.lieferort}"></td>
											<td th:text="${devices.gewicht}"></td>
											<td class="text-right"></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<!-- end content-->
					</div>
					<!--  end card  -->
				</div>
				<div class="col-md-8">
					<div class="card" style="height: 400px;">
						<div class="card-header card-header-icon"
							data-background-color="rose">
							<i class="material-icons">add_location</i>
						</div>
						<div class="card-content">
							<h4 class="card-title">Regular Map</h4>
							<div id="map_canvas" class="map"></div>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6">
					<div class="card">
						<div class="card-header card-header-icon"
							data-background-color="devkOrange">
							<i class="material-icons">attachment</i>
						</div>
						<div class="card-content">
							<h4 class="card-title">
								Boxen <small> - schön</small>
							</h4>
							<h5 class="card-title">In diesen Containern kann der
								vereinzelnte Content hervorgehoben werden. Diese können
								beliebig groß gestaltet werden. Probieren Sie es einfach aus!</h5>
						</div>
						<div id="Chart3" class="ct-chart"></div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="card">
						<div class="card-header card-header-icon"
							data-background-color="rose">
							<i class="material-icons">cloud</i>
						</div>
						<div class="card-content">
							<h4 class="card-title">
								Beispiele <small> - großartig</small>
							</h4>
							<h5 class="card-title">
								Dazu gibt es natürlich Beispiele auf den Folgeseiten: <br /> <br />
								<a href="/bepacken">Bepacken</a><br /> <a href="/datatables">Datentabelle</a>
								(aus Datenbank ausgelesen)<br /> <a href="/notifications">Notifications</a><br />
								<a href="/validation">Validierung</a><br /> <a href="/login">Login</a><br />
							</h5>
						</div>
						<div id="Chart3" class="ct-chart"></div>
					</div>
				</div>
			</div>

			<h3>Beispielbilder mit Text</h3>
			<br />
			<div class="row">
				<div class="col-md-4">
					<div class="card card-product">
						<div class="card-image" data-header-animation="true">
							<a href="#pablo"> <img class="img"
								src="../../assets/img/card-2.jpg" />
							</a>
						</div>
						<div class="card-content">
							<div class="card-actions">
								<button type="button"
									class="btn btn-danger btn-simple fix-broken-card">
									<i class="material-icons">build</i> Fix Header!
								</button>
								<button type="button" class="btn btn-default btn-simple"
									rel="tooltip" data-placement="bottom" title="View">
									<i class="material-icons">art_track</i>
								</button>
								<button type="button" class="btn btn-success btn-simple"
									rel="tooltip" data-placement="bottom" title="Edit">
									<i class="material-icons">edit</i>
								</button>
								<button type="button" class="btn btn-danger btn-simple"
									rel="tooltip" data-placement="bottom" title="Remove">
									<i class="material-icons">close</i>
								</button>
							</div>
							<h4 class="card-title">
								<a href="#pablo">Cozy 5 Stars Apartment</a>
							</h4>
							<div class="card-description">The place is close to
								Barceloneta Beach and bus stop just 2 min by walk and near to
								"Naviglio" where you can enjoy the main night life in Barcelona.
							</div>
						</div>
						<div class="card-footer">
							<div class="price">
								<h4>$899/night</h4>
							</div>
							<div class="stats pull-right">
								<p class="category">
									<i class="material-icons">place</i> Barcelona, Spain
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card card-product">
						<div class="card-image" data-header-animation="true">
							<a href="#pablo"> <img class="img"
								src="../../assets/img/card-3.jpg" />
							</a>
						</div>
						<div class="card-content">
							<div class="card-actions">
								<button type="button"
									class="btn btn-danger btn-simple fix-broken-card">
									<i class="material-icons">build</i> Fix Header!
								</button>
								<button type="button" class="btn btn-default btn-simple"
									rel="tooltip" data-placement="bottom" title="View">
									<i class="material-icons">art_track</i>
								</button>
								<button type="button" class="btn btn-success btn-simple"
									rel="tooltip" data-placement="bottom" title="Edit">
									<i class="material-icons">edit</i>
								</button>
								<button type="button" class="btn btn-danger btn-simple"
									rel="tooltip" data-placement="bottom" title="Remove">
									<i class="material-icons">close</i>
								</button>
							</div>
							<h4 class="card-title">
								<a href="#pablo">Office Studio</a>
							</h4>
							<div class="card-description">The place is close to Metro
								Station and bus stop just 2 min by walk and near to "Naviglio"
								where you can enjoy the night life in London, UK.</div>
						</div>
						<div class="card-footer">
							<div class="price">
								<h4>$1.119/night</h4>
							</div>
							<div class="stats pull-right">
								<p class="category">
									<i class="material-icons">place</i> London, UK
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card card-product">
						<div class="card-image" data-header-animation="true">
							<a href="#pablo"> <img class="img"
								src="../../assets/img/card-1.jpg" />
							</a>
						</div>
						<div class="card-content">
							<div class="card-actions">
								<button type="button"
									class="btn btn-danger btn-simple fix-broken-card">
									<i class="material-icons">build</i> Fix Header!
								</button>
								<button type="button" class="btn btn-default btn-simple"
									rel="tooltip" data-placement="bottom" title="View">
									<i class="material-icons">art_track</i>
								</button>
								<button type="button" class="btn btn-success btn-simple"
									rel="tooltip" data-placement="bottom" title="Edit">
									<i class="material-icons">edit</i>
								</button>
								<button type="button" class="btn btn-danger btn-simple"
									rel="tooltip" data-placement="bottom" title="Remove">
									<i class="material-icons">close</i>
								</button>
							</div>
							<h4 class="card-title">
								<a href="#pablo">Beautiful Castle</a>
							</h4>
							<div class="card-description">The place is close to Metro
								Station and bus stop just 2 min by walk and near to "Naviglio"
								where you can enjoy the main night life in Milan.</div>
						</div>
						<div class="card-footer">
							<div class="price">
								<h4>$459/night</h4>
							</div>
							<div class="stats pull-right">
								<p class="category">
									<i class="material-icons">place</i> Milan, Italy
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>


			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header card-header-icon"
							data-background-color="devkGreen">
							<i class="material-icons">copyright</i>
						</div>
						<div class="card-content">
							<h4 class="card-title">
								Kurz <small> - schade</small>
							</h4>
							<h5 class="card-title" style="text-align: center">
								Die restlichen Seiten sind leider noch nicht befüllt! Sie
								dienen ausschließlich der Übersicht wie eine Navigationsleiste
								aussehen könnte! <br /> <br /> Vielen Dank, dass Sie hier
								reingesehen haben!
							</h5>
						</div>
					</div>
				</div>
			</div>


		</div>
	</div>
</body>
<script type="text/javascript" layout:fragment="selfScripts">
	//<![CDATA[
		//Dokumentation: https://developers.google.com/maps/documentation/javascript/directions
		var map;
		var directionDisplay;
		var directionsService;
		var stepDisplay;

		var position;
		var marker = [];
		var polyline = [];
		var poly2 = [];
		var poly = null;
		var startLocation = [];
		var endLocation = [];
		var timerHandle = [];


		var speed = 0.000005,
			wait = 1000;
		var infowindow = null;

		var myPano;
		var panoClient;
		var nextPanoId;

		var startLoc = new Array();
		startLoc[0] = 'Salcombe, England';
		startLoc[1] = 'Salcombe, England';
		startLoc[2] = 'Salcombe, England';
		startLoc[3] = 'Salcombe, England';
		startLoc[4] = 'Salcombe, England';

		var endLoc = new Array();
		endLoc[0] = 'Strete, England';
		endLoc[1] = 'Thurlestone, England';
		endLoc[2] = 'Beesands, England';
		endLoc[3] = 'West Charleton, England';
		endLoc[3] = 'Kingsbridge, England';


		var Colors = [ "#FF0000", "#00FF00", "#0000FF" ];


		function initialize() {
			infowindow = new google.maps.InfoWindow(
				{
					size : new google.maps.Size(150, 50)
				});

			var myOptions = {
				zoom : 50,
				mapTypeId : google.maps.MapTypeId.ROADMAP
			}
			map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

			address = 'Salcombe'
			geocoder = new google.maps.Geocoder();
			geocoder.geocode({
				'address' : address
			}, function(results, status) {
				map.fitBounds(results[0].geometry.viewport);

			});
		setRoutes();
		}


		function createMarker(latlng, label, html) {
			// alert("createMarker("+latlng+","+label+","+html+","+color+")");
			var contentString = '<b>' + label + '</b><br>' + html;
			var marker = new google.maps.Marker({
				position : latlng,
				map : map,
				title : label,
				zIndex : Math.round(latlng.lat() * -100000) << 5
			});
			marker.myname = label;


			google.maps.event.addListener(marker, 'click', function() {
				infowindow.setContent(contentString);
				infowindow.open(map, marker);
			});
			return marker;
		}

		function setRoutes() {
			var directionsDisplay = new Array();

			for (var i = 0; i < startLoc.length; i++) {

				var rendererOptions = {
					map : map,
					suppressMarkers : true,
					preserveViewport : true
				}
				directionsService = new google.maps.DirectionsService();

				var travelMode = google.maps.DirectionsTravelMode.DRIVING;

				var request = {
					origin : startLoc[i],
					destination : endLoc[i],
					travelMode : travelMode
				};

				directionsService.route(request, makeRouteCallback(i, directionsDisplay[i]));

			}


			function makeRouteCallback(routeNum, disp) {
				if (polyline[routeNum] && (polyline[routeNum].getMap() != null)) {
					startAnimation(routeNum);
					return;
				}
				return function(response, status) {

					if (status == google.maps.DirectionsStatus.OK) {

						var bounds = new google.maps.LatLngBounds();
						var route = response.routes[0];
						startLocation[routeNum] = new Object();
						endLocation[routeNum] = new Object();


						polyline[routeNum] = new google.maps.Polyline({
							path : [],
							strokeColor : '#FFFF00',
							strokeWeight : 3
						});

						poly2[routeNum] = new google.maps.Polyline({
							path : [],
							strokeColor : '#FFFF00',
							strokeWeight : 3
						});


						// For each route, display summary information.
						var path = response.routes[0].overview_path;
						var legs = response.routes[0].legs;


						disp = new google.maps.DirectionsRenderer(rendererOptions);
						disp.setMap(map);
						disp.setDirections(response);


						//Markers               
						for (i = 0; i < legs.length; i++) {
							if (i == 0) {
								startLocation[routeNum].latlng = legs[i].start_location;
								startLocation[routeNum].address = legs[i].start_address;
								// marker = google.maps.Marker({map:map,position: startLocation.latlng});
								marker[routeNum] = createMarker(legs[i].start_location, "start", legs[i].start_address, "green");
							}
							endLocation[routeNum].latlng = legs[i].end_location;
							endLocation[routeNum].address = legs[i].end_address;
							var steps = legs[i].steps;

							for (j = 0; j < steps.length; j++) {
								var nextSegment = steps[j].path;
								var nextSegment = steps[j].path;

								for (k = 0; k < nextSegment.length; k++) {
									polyline[routeNum].getPath().push(nextSegment[k]);
								//bounds.extend(nextSegment[k]);
								}

							}
						}

					}

					polyline[routeNum].setMap(map);
					//map.fitBounds(bounds);
					startAnimation(routeNum);

				} // else alert("Directions request failed: "+status);

			}

		}

		var lastVertex = 1;
		var stepnum = 0;
		var step = 50; // 5; // metres
		var tick = 100; // milliseconds
		var eol = [];
		//----------------------------------------------------------------------                
		function updatePoly(i, d) {
			// Spawn a new polyline every 20 vertices, because updating a 100-vertex poly is too slow
			if (poly2[i].getPath().getLength() > 20) {
				poly2[i] = new google.maps.Polyline([ polyline[i].getPath().getAt(lastVertex - 1) ]);
			// map.addOverlay(poly2)
			}

			if (polyline[i].GetIndexAtDistance(d) < lastVertex + 2) {
				if (poly2[i].getPath().getLength() > 1) {
					poly2[i].getPath().removeAt(poly2[i].getPath().getLength() - 1)
				}
				poly2[i].getPath().insertAt(poly2[i].getPath().getLength(), polyline[i].GetPointAtDistance(d));
			} else {
				poly2[i].getPath().insertAt(poly2[i].getPath().getLength(), endLocation[i].latlng);
			}
		}
		//----------------------------------------------------------------------------

		function animate(index, d) {
			if (d > eol[index]) {

				marker[index].setPosition(endLocation[index].latlng);
				return;
			}
			var p = polyline[index].GetPointAtDistance(d);

			//map.panTo(p);
			marker[index].setPosition(p);
			updatePoly(index, d);
			timerHandle[index] = setTimeout("animate(" + index + "," + (d + step) + ")", tick);
		}

		//-------------------------------------------------------------------------

		function startAnimation(index) {
			if (timerHandle[index]) clearTimeout(timerHandle[index]);
			eol[index] = polyline[index].Distance();
			map.setCenter(polyline[index].getPath().getAt(0));

			poly2[index] = new google.maps.Polyline({
				path : [ polyline[index].getPath().getAt(0) ],
				strokeColor : "#FFFF00",
				strokeWeight : 3
			});

			timerHandle[index] = setTimeout("animate(" + index + ",50)", wait); // Allow time for the initial map display
		}
	//]]>
</script>
</html>