<!doctype html>
<html lang="de" layout:decorator="layout/validationHeader">
<head>
<title>Tabelle</title>
</head>
<body>
            <div class="content" layout:fragment="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header card-header-icon" data-background-color="devkGreen">
                                    <i class="material-icons">assignment</i>
                                </div>
                                <div class="card-content">
                                    <h4 class="card-title">DataTables.net</h4>
                                    <div class="toolbar">
                                        <!--        Here you can write extra buttons/actions for the toolbar              -->
                                    </div>
                                    <div class="material-datatables">
                                        <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th>Personalnummer</th>
													<th>Arbeitsanteil</th>
													<th>Datum</th>
                                                    <th class="disabled-sorting text-right">Actions</th>
                                                </tr>
                                            </thead>
                                            <tfoot>
                                                <tr>
                                                    <th>Personalnummer</th>
													<th>Arbeitsanteil</th>
													<th>Datum</th>
                                                    <th class="text-right">Actions</th>
                                                </tr>
                                            </tfoot>
                                            <tbody>
                                                <tr th:each="person : ${list}">
                                                    <td th:text="${person.personalnummer}"></td>
													<td th:text="${person.arbeitsanteil}"></td>
													<td th:text="${person.datum}"></td>
                                                    <td class="text-right">
                                                        <a href="#" class="btn btn-simple btn-info btn-icon like"><i class="material-icons">favorite</i></a>
                                                        <a href="#" class="btn btn-simple btn-warning btn-icon edit"><i class="material-icons">edit</i></a>
                                                        <a class="btn btn-simple btn-danger btn-icon remove" 
                                                        th:onclick="'demo.showWarning(\'bottom\', \'right\', \'WARNUNG - Sie haben den Datensatz mit der Personalnummer ' + ${person.personalnummer} + ' gelöscht' + '\');'">
                                                        <i class="material-icons">close</i></a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
<!--                                     <div sec:authorize="hasRole('ROLE_ADMIN')"> -->
<!-- 										Roles: <span sec:authentication="principal.authorities">[ROLE_USER, ROLE_ADMIN]</span> -->
<!-- 									</div> -->
                                </div>
                                <!-- end content-->
                            </div>
                            <!--  end card  -->
                        </div>
                        <!-- end col-md-12 -->
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header card-header-icon" data-background-color="devkGreen">
                                    <i class="material-icons">cloud_upload</i>
                                </div>
                                <div class="card-content">
                                    <h4 class="card-title">Fileupload</h4>
                                    <div class="toolbar">
                                        <!--        Here you can write extra buttons/actions for the toolbar              -->
                                    </div>
                                    <div id="dropzone">
                                    	<form action="/upload" method="post" class="dropzone needsclick" enctype="multipart/form-data">
											<div class="dz-message needsclick">
    											Drop files here or click to upload.<br />
    											<span class="note needsclick">(This is just a demo dropzone. Selected files are <strong>not</strong> actually uploaded.)</span>
  											</div>
										</form>
									</div>
                                </div>
                             </div>
                        </div>
                    </div>
                    <!-- end row -->
                </div>
            </div>
</body>
<script type="text/javascript" layout:fragment="selfScripts">
//<![CDATA[
    $(document).ready(function() {
        $('#datatables').DataTable({
            "pagingType": "full_numbers",
            "lengthMenu": [
                [10, 25, 50, -1],
                [10, 25, 50, "All"]
            ],
            responsive: true,
            language: {
                search: "_INPUT_",
                searchPlaceholder: "Suche",
            }

        });


        var table = $('#datatables').DataTable();

        // Edit record
        table.on('click', '.edit', function() {
            $tr = $(this).closest('tr');

            var data = table.row($tr).data();
            alert('You press on Row: ' + data[0] + ' ' + data[1] + ' ' + data[2] + '\'s row.');
        });

        // Delete a record
        table.on('click', '.remove', function(e) {
            $tr = $(this).closest('tr');
            table.row($tr).remove().draw();
            e.preventDefault();
        });

        //Like record
        table.on('click', '.like', function() {
            alert('You clicked on Like button');
        });

        $('.card .material-datatables label').addClass('form-group');
    });
//]]>
</script>
</html>